In [1]:
x = 20
y = 30
z = 40
s = (x+y+z)  
print(x, y,z)
print(s)

20 30 40
90

In [1]:
student_score = [8.7, 9.2, 4.1, 5.3,8.9,9.2,9.2]
totalscore = sum(student_score)
length = len(student_score)
avg_score = totalscore/length
maxval = max(student_score)
# Counting a particular score in an array.
total_count = student_score.count(9.2)
print(avg_score)
print(maxval)
print(total_count)

7.800000000000002
9.2
3

In [4]:
#Coding execise 9
username = "python3"
print(username.upper())
print(username.title())

PYTHON3
Python3

In [7]:
# Creating a Dictionary
student_grade = {"Ram": 8.7, "Shyam": 7.9, "Jadu": 9.8 }
grade_sum = sum(student_grade.values())
noOfstd = len(student_grade)
avg = grade_sum/noOfstd
print(avg)

8.8

In [9]:
# Coding exercise 12
day_temperatures ={'morning' : (7.8, 9.8, 4.4), 'noon' : (6.8, 8.9, 5.8), 'evening': (5.6, 6.5, 6.0)}
l = [x for x in range(1,11)]
l.append(11)
print(l)
l.remove(11)
print(l)
print(l.index(8))
# Coding Exercise 16
print(l[7], l[3], l[9])
print(day_temperatures.items())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
7
8 4 10
dict_items([('morning', (7.8, 9.8, 4.4)), ('noon', (6.8, 8.9, 5.8)), ('evening', (5.6, 6.5, 6.0))])

In [6]:
# Coding exercise 23
def square(length):
    area = length * length 
    return area

side = 19
print(square(side))

361

In [7]:
def meanvalue(value):
      if isinstance(value, dict):
          mean = sum(value.values())/len(value)
      else:
          mean = sum(value)/len(value)
      return mean
      
student_grade = {"Ram": 8.7, "Shyam": 7.9, "Jadu": 9.8 }
random_number = [25,24,63,20]
print(meanvalue(student_grade))
print(meanvalue(random_number))
user_input = input("Enter your name : ")
msg = 'Hello %s!' %user_input
print(msg)

8.8
33.0
Enter your name : Sandip
Hello Sandip!

In [5]:
colors = [11, 34.1, 98.2, 43, 45.1, 54, 54]
for color in colors:
    if isinstance(color, int) and color >50 :
        print(color)
phone_numbers = {"John Smith": "+37682929928", "Marry Simpons": "+423998200919"}
for key, value in phone_numbers.items():
    print(f'{key}: 00{value[1:]}')

54
54
John Smith: 0037682929928
Marry Simpons: 00423998200919

In [2]:
#Problem 55
def formatter(user_input):
    user_input = user_input.capitalize()
    qtn = ('Who','Why', 'When', 'What', 'How')
    if user_input.startswith(qtn):
        return (f'{user_input}?')
    else:
        return (f'{user_input}.')
    

output = []
while True:
    user_input = input('Say something: ')
    if user_input == '\end':
        break
    
    else:
        output.append(formatter(user_input))
print(' '.join(output))

Say something: \end

In [1]:
# Coding Exercise 36
def num_only(lst):
    new_lst = [l if not isinstance(l, str) else 0 for l in lst ]
    return new_lst

print(num_only([25, 30, 'ho', 35, 'go', 0, 1]))

[25, 30, 0, 35, 0, 0, 1]

In [4]:
# Coding exercise 39
def sumstrings(lst):
    return sum([float(l) for l in lst])

print(sumstrings(['1.2', '2.2', '3.3']))

6.7

In [9]:
# Coding exercise 41
def avg(*args):
    return sum(args)/len(args)

print (int(avg(20,10,30,40)))

def stringsorter(*args):
    args = sorted([x.upper()for x in args])
    return ','' '.join(args)
print(stringsorter('ram', 'shyam', 'jadu','aam'))

## KWARGS demmo

def findmean(**kwargs):
    return sum(kwargs.values()) / len(kwargs)

print(findmean(a=10,b=20,c=30,d=40))

## Very Very Important example#############
def find_winner(**kwargs):
    return max(kwargs, key = kwargs.get)
     
print(find_winner(Andy = 17, Marry = 19, Sim = 45, Kae = 34))

25
AAM, JADU, RAM, SHYAM
25.0
Sim

In [1]:
########File Handling################
# myfile = open('bear.txt')
# print(myfile.read())
# with open('bear.txt') as myfile:
#     content = myfile.read() 
# print(content[ :91])
# print(content)

################# Coding Exercise 46 ##############

# def count_ch(ch, filepath = 'bear.txt'):
#     with open(filepath) as content:
#         file = content.read()
#         return file.count(ch)
# #     file = open(filepath)
# #     content = file.read()
# #     return content.count(ch)
    
# print(count_ch('z'))
    
def readwrite(x, y):
    with open (x) as content:
        file = content.read()[:91]
        
    
    with open(y,'a+') as new:
        new.write(file)
        new.seek(0)
        content_one = new.read()
    return content_one
 
print(readwrite('bear.txt', 'first.txt'))

The American black bear (Ursus americanus) is a medium-sized bear native to North America. The American black bear (Ursus americanus) is a medium-sized bear native to North America. The American black bear (Ursus americanus) is a medium-sized bear native to North America.

In [8]:
import pandas
import sys
import os
os.listdir()

['first.txt',
 '.ipynb_checkpoints',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets.csv',
 'supermarkets.xlsx',
 'bear1.txt',
 'data.txt',
 'one',
 'practiceArdit.ipynb',
 'onepymysl',
 'supermarkets.json',
 'original.csv',
 'prc.py',
 'bear.txt']

In [9]:
import pandas
df1 = pandas.read_json('supermarkets.json')
df1

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [12]:
df1 = pandas.read_excel('supermarkets.xlsx')
df1

,ID,Address,City,State,Country,Supermarket Name,Number of Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [16]:
df2 = pandas.read_csv('supermarkets-semi-colons.txt', sep = ';')
df2

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20